- name: Configure machine for students use
  hosts: all
  become: true


  vars:

    student_username: student
    student_groups:
    flatpak_apps:
      - org.eclipse.Java
      - com.visualstudio.code
      - com.jetbrains.PyCharm-Professional
    snapshot_dir: /var/backups/student_snapshots


  tasks:

  # - name: Create user student
  #   ansible.builtin.user:
  #     name: "{{ student_username }}"
  #     shell: /bin/bash
  #     create_home: true
  #     state: present
  #     groups: "{{ student_groups }}"
  #     append: true
  #     password_lock : true
  #   register: student_user

  # - name: Allow passwordless login for student user
  #   ansible.builtin.lineinfile:
  #     path: /etc/pam.d/lightdm
  #     insertbefore: '^auth\s+substack\s+password-auth'
  #     line: 'auth    sufficient    pam_succeed_if.so user = student'
  #     state: present


  - name: Install required flatpaks
    block:

      - name: Add Flathub repository
        community.general.flatpak_remote:
          name: flathub
          state: present
          flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo

      - name: Install Flatpak applications
        community.general.flatpak:
          name: "{{ item }}"
          state: present
          remote: flathub
        loop: "{{ flatpak_apps }}"
        retries: 3
        delay: 5

  # - name: Limit 70% CPU and RAM to user via systemd

  # - name: Mount temp over homedir



# passwordless
#   sudo mkdir -p /etc/lightdm/lightdm.conf.d
# sudo nano /etc/lightdm/lightdm.conf.d/50-student-autologin.conf
# [Seat:*]
# autologin-user=student
# autologin-user-timeout=0



# Create tmp overlay

# nmcli connection modify enp2s0 802-3-ethernet.wake-on-lan magic

# sudo nano /usr/local/sbin/restore-student-home.sh
# chmod +x /usr/local/sbin/restore-student-home.sh

# mkdir .snapshots
# btrfs subvolume snapshot -r /home/student /home/.snapshots/student-clean

# put /etc/polkit-1/rules.d rules

# deny podman usage